* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

.nav__logo {
    width: 5rem;
    object-fit: contain;
}

.nav__avatar {
    width: 1.875rem;
    object-fit: contain;
}
.nav {
    position: fixed; /*Sempre fica no mesmo lugar da página*/
    top: 0; /*0px do topo da página*/
    width: 100%; /*ocupa 100% da largura disponível*/
    display: flex; /*display flexível*/
    justify-content: space-between; /* itens igualmente espaçados para a borda da div*/
    padding: 1.25rem; /*padding de 20px do conteúdo as bordas de todos os lados*/
    z-index: 1; /*fica a frente de qualquer coisa da página*/
    transition-timing-function: ease-in;  /*animação pra aparecer aos poucos*/
    transition: all 0.5s; /*Aparece em 0.5s*/
}

/*Configuração da Header*/

.banner {
    background-image: url(imagens/banner.jpg);
    background-size: cover; /*Tamanho da área deve cobrir tudo*/
    background-position: center center; /*Centralizado eixo y e eixo x no centro*/
    height: 28rem; /*Altura de 448px em rem*/
    color: white; /*Tudos os textis que estiverem na div banner serão branco*/
    object-fit: contain;
}

.banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    width: 45rem;
    line-height: 1.3; /*Espaçamento entre as linhas*/
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 22.5rem; /*Largura da descrição encurtada*/
    height: 11.25rem; /*Altura da descrição*/
}
.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none; /*Sem sublinhado*/
    border: black solid .125rem; /*Sem borda*/
    font-weight: 700; /*Fonte em negrito*/
    padding: 0.5rem 2rem;
    border-radius: 0.2vw; /*Arredondando borda*/
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
    color: #000; /*Texto fica preto ao passar por cima com o cursor*/
    background-color: #e6e6e6; /*E o backgroud(cor de fundo) fica branco*/
    transition: all 0.4s;
}


.banner--fadeBottom { /* configuração que posiciona o banner e aplica um fade out na imagem que vai ficando*/
  margin-top: 9.0625rem;  /*com a cor do conteúdo que vem a seguir (Sombra no final do banner pra transição de conteúdo. */
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/*Configuração da row*/

.row {
  color: white;
  margin-left: 20px;
}

.row__poster {
  width: 250px;
  object-fit: contain;
  max-height: 250px;
  margin-right: 0.5rem;
  transition: transform 450ms;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1.25rem
}

.row__poster:hover {
    transform: scale(1.08); /*Aumentando o tamanho dos posters quando passa o cursor encima deles*/
    cursor: pointer;
}

.row__posterLarge {
    max-width: 350px;
}
.row__posterLarge:hover {
    transform: scale(1.09); /*Aumentando o tamanho dos posters quando passa o cursor encima deles*/
    cursor: pointer;
}

.row__posters::-webkit-scrollbar {
    display: none; /*Configuração da barra de rolagem dos posters*/
}

/*Interação do javascript após o primeiro commit*/